<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ClassForge{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% if 'customisation' in request.path %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customisation.css') }}">
    {% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap">
</head>
<body>

    {% include 'components/menu.html' %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <button class="support-button">
        <i class="fas fa-headset"></i> Support
    </button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>