<!-- templates/Index.html -->
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 id="main-title">Welcome to ClassForge</h1>

<div class="main-content-box">
    <h2><i class="fas fa-briefcase"></i> Management</h2>
    <p>Add or remove students, and adjust the number of classes...</p>

    <h2><i class="fas fa-chart-bar"></i> Visualization</h2>
    <p>See visual representations of the classroom allocation...</p>

    <h2><i class="fas fa-cogs"></i> Customization</h2>
    <p>Adjust factors like academic balance, social needs...</p>
</div>
{% endblock %}